<div class="mt-4 p-5 text-white rounded mt-3 jumbotron">
    <h1 class="hotstitle">Product Editor</h1>
    <form
      (ngSubmit)="onSubmit(product)"
      #productForm="ngForm"
      *ngIf="product$"
      class="row g-3"
    >
      <div class="col-lg-1">
        <label for="id" class="form-label formtext">Id</label>
        <input
          [(ngModel)]="product.id"
          #id="ngModel"
          name="id"
          type="text"
          class="form-control formtext"
          id="id"
        />
      </div>  
      <div class="col-lg-2">
        <label for="productName" class="form-label formtext">Name</label>
        <input
          [(ngModel)]="product.name"
          [disabled]="checked"
          #productName="ngModel"
          name="productName"
          type="text"
          class="form-control formtext"
          id="productName"
          required
        />
        <div
          [hidden]="productName.valid || productName.pristine || productName.disabled"
          class="errormessage"
        >
          Name of product
        </div>
      </div>
      <div class="col-lg-2">
        <label for="productDescription" class="form-label formtext">Description</label>
        <input
          [(ngModel)]="product.description"
          [disabled]="checked"
          #productDescription="ngModel"
          name="productDescription"
          type="text"
          class="form-control formtext"
          id="productDescription"
          required
        />
        <div
          [hidden]="productDescription.valid || productDescription.pristine || productDescription.disabled"
          class="errormessage"
        >
          Description of product
        </div>
      </div>
      <div class="col-lg-2">
        <label for="productPrice" class="form-label formtext">Price</label>
        <input
          [(ngModel)]="product.price"
          [disabled]="checked"
          #productPrice="ngModel"
          name="productPrice"
          type="number"
          class="form-control formtext"
          id="productPrice"
          required
        />
        <div
          [hidden]="productPrice.valid || productPrice.pristine || productPrice.disabled"
          class="errormessage"
        >
          Price of product
        </div>
      </div>
      <div class="col-lg-2">
        <label for="productType" class="form-label formtext">Type</label>
        <input
          [(ngModel)]="product.type"
          [disabled]="checked"
          #productType="ngModel"
          name="productType"
          type="text"
          class="form-control formtext"
          id="productType"
          required
        />
        <div
          [hidden]="productType.valid || productType.pristine || productType.disabled"
          class="errormessage"
        >
          Type of product
        </div>
      </div>
      <div class="col-lg-6">
        <label for="category" class="form-label formtext">Category</label>
        <select
          [(ngModel)]="product.catID"
          [disabled]="checked"
          #category="ngModel"
          name="category"
          id="category"
          class="form-select formtext"
          required
        >
          <option
            *ngFor="let category of categories"
            [ngValue]="category.id"
            class="formtext"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="form-check formtext">
        <label for="featured" class="form-label formtext">Featured</label>
        <input
          [(ngModel)]="product.featured"
          [disabled]="checked"
          #featured="ngModel"
          name="featured"
          type="checkbox"
          class="form-check-input"
          id="featured"
          required
        />
        <div
          [hidden]="featured.valid || featured.pristine || featured.disabled"
          class="errormessage"
        >
          Is the product featured?
        </div>
      </div>
      <div class="form-check formtext">
        <label for="active" class="form-label formtext">Active</label>
        <input
          [(ngModel)]="product.active"
          [disabled]="checked"
          #active="ngModel"
          name="active"
          type="checkbox"
          class="form-check-input"
          id="active"
          required
        />
        <div
          [hidden]="active.valid || active.pristine || active.disabled"
          class="errormessage"
        >
          Is the product active?
        </div>
      </div>
  
      <div class="form-check formtext">
        <input
          (change)="onChecked()"
          class="form-check-input"
          type="checkbox"
          value="active"
          id="cSettings"
          [checked]="checked"
        />
        <label class="form-check-label formtext checkboxlabel" for="cSettings">
          I want to save product settings!
        </label>
      </div>
      <div class="col-12">
        <button
          [disabled]="productForm.form.invalid || checked === false"
          type="submit"
          class="btn btn-primary"
        >
          {{ product.id === 0 ? "Create new product" : "Save changes" }}
        </button>
      </div>
    </form>
  </div>
  