<p>home works!</p>
<!-- <pre>{{ productList$ | async | json }}</pre> -->
<!-- <pre>{{ billList$ | async | json }}</pre> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">catid</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList$ | async">
      <th>{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.catID }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
