<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">Customer table</h6>
          </div>
        </div>
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                *ngFor="let col of columns"
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-5"
              >
                {{ col.title }}
              </th>
              <th></th>
              <th></th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let customer of customerList
                  | filter : (phrase$ | async)
                  | paginate : { itemsPerPage: 10, currentPage: page }
              "
            >
              <td *ngFor="let col of columns" class="align-middle text-sm ps-5">
                <p
                  class="text-xs font-weight-bold mb-0"
                  [ngSwitch]="customer[col.key]"
                >
                  <span *ngSwitchCase="customer.id">
                    <span *ngIf="col.key === 'id'">{{ customer.id }}</span>
                  </span>
                  <span *ngSwitchCase="customer.lastName">
                    <span class="mb-0 text-sm"
                      >{{ customer.firstName }} {{ customer.lastName }}</span
                    ><br />
                    <span class="text-xs text-secondary mb-0">
                      {{ customer.email }}</span
                    >
                  </span>
                  <span *ngSwitchCase="customer.address">
                    <span class="mb-0 text-sm">
                      {{ customer.address.country }}</span
                    ><br />
                    <!-- Viktor miatt nem jelenítjük meg a Nodes-t, mert semmi értelmét nem látja a táblázatban való megjelenítésnek :) -->
                    <span class="text-xs text-secondary mb-0"
                      >{{ customer.address.zip }}, {{ customer.address.city }},
                      {{ customer.address.street }}</span
                    >
                  </span>
                  <span *ngSwitchCase="customer.active"
                    ><span
                      *ngIf="customer.active === true && col.key === 'active'"
                      class="badge badge-sm bg-gradient-success"
                      >Active</span
                    >
                  </span>
                  <span *ngSwitchCase="customer.active"
                    ><span
                      *ngIf="customer.active === false && col.key === 'active'"
                      class="badge badge-sm bg-gradient-danger"
                      >Inactive</span
                    >
                  </span>
                  <span *ngSwitchDefault="customer[col.key]">{{
                    customer[col.key]
                  }}</span>
                </p>
              </td>

              <!-- <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{ customer.id }}</p>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">
                      {{ customer.firstName }} {{ customer.lastName }}
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      {{ customer.email }}
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">
                  {{ customer.address.country }}
                </p>
                <p class="text-xs text-secondary mb-0">
                  {{ customer.address.zip }}, {{ customer.address.city }},
                  {{ customer.address.street }} {{ customer.address.notes }}
                </p>
              </td>
              <td class="align-middle text-center text-sm">
                <span
                  *ngIf="customer.active"
                  class="badge badge-sm bg-gradient-success"
                  >Active</span
                >
                <span
                  *ngIf="!customer.active"
                  class="badge badge-sm bg-gradient-danger"
                  >Inactive</span
                >
              </td> -->
              <td class="align-middle">
                <a
                  [routerLink]="['/edit/customer/', customer.id]"
                  href="javascript:;"
                  class="text-secondary font-weight-bold text-xs"
                >
                  Edit
                </a>
              </td>
              <td class="align-middle">
                <a
                  (click)="removeBill(customer)"
                  class="text-secondary font-weight-bold text-xs"
                  href="javascript:;"
                >
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
