<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">Product table</h6>
          </div>
        </div>
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                *ngFor="let col of columns"
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-5"
              >
                {{ col.title }}
              </th>
              <th></th>
              <th></th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let product of productList
                  | filter : (phrase$ | async)
                  | paginate : { itemsPerPage: 10, currentPage: page }
              "
            >
              <td *ngFor="let col of columns" class="align-middle text-sm ps-5">
                <p
                  class="text-xs font-weight-bold mb-0"
                  [ngSwitch]="product[col.key]"
                >
                  <span *ngSwitchCase="product.id">
                    <span *ngIf="col.key === 'id'">{{ product.id }}</span>
                  </span>

                  <span *ngSwitchCase="product.active">
                    <span *ngIf="col.key === 'active'">
                      <span *ngIf="product.active === false"
                      class="badge badge-sm bg-gradient-danger">
                      No
                    </span>
                    <span *ngIf="product.active === true"
                    class="badge badge-sm bg-gradient-success">
                    Yes
                  </span>
                    </span>
                  </span>

                  <span *ngSwitchCase="product.featured">
                    <span *ngIf="col.key === 'featured'">
                        <span *ngIf="product.featured === false"
                          class="badge badge-sm bg-gradient-danger">
                          No
                        </span>
                        <span *ngIf="product.featured === true"
                        class="badge badge-sm bg-gradient-success">
                        Yes
                      </span>
                    </span>
                  </span>

                  <span *ngSwitchCase="product.name">
                    <span>{{ product.name }}</span>
                    <br />
                    <span class="text-xs text-secondary mb-0">{{
                      product.type
                    }}</span>
                  </span>
                  <span *ngSwitchCase="product.catID">
                    <span *ngIf="col.key === 'catID'">{{
                      category[product.catID - 1].name
                    }}</span>
                  </span>
                  <span *ngSwitchCase="product.price">{{
                    product.price
                  }}</span>
                  <span *ngSwitchCase="product.description">{{
                    product.description
                  }}</span>
                </p>
              </td>
              <!-- <td
                *ngFor="let col of columns"
                class="align-middle text-center text-sm"
              ></td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{ product.id }}</p>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">
                      {{ product.name }}
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      {{ product.type }}
                    </p>
                  </div>
                </div>
              </td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{ product.catID }}</p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">
                  {{ product.description }}
                </p>
              </td>

              <td class="align-middle text-center text-sm">
                <p class="text-xs font-weight-bold mb-0">{{ product.price }}</p>
              </td>
              <td class="align-middle text-center text-sm">
                <span
                  *ngIf="product.featured"
                  class="badge badge-sm bg-gradient-success"
                  >Active</span
                >
                <span
                  *ngIf="!product.featured"
                  class="badge badge-sm bg-gradient-danger"
                  >Inactive</span
                >
              </td>
              <td class="align-middle text-center text-sm">
                <span
                  *ngIf="product.active"
                  class="badge badge-sm bg-gradient-success"
                  >Active</span
                >
                <span
                  *ngIf="!product.active"
                  class="badge badge-sm bg-gradient-danger"
                  >Inactive</span
                >
              </td> -->

              <td class="align-middle">
                <a
                  [routerLink]="['/edit/product/', product.id]"
                  href="javascript:;"
                  class="text-secondary font-weight-bold text-xs"
                >
                  Edit
                </a>
              </td>
              <td class="align-middle">
                <a
                  (click)="removeBill(product)"
                  class="text-secondary font-weight-bold text-xs"
                  href="javascript:;"
                >
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a
[routerLink]="['/edit/product/']"
href="javascript:;"
class="text-secondary font-weight-bold text-xs"
>
New product
</a>

<pagination-controls (pageChange)="page = $event"></pagination-controls>
