{{ phrase$ | async }}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
          >
            <h6 class="text-white text-capitalize ps-3">Bills table</h6>
          </div>
        </div>
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                *ngFor="let col of columns"
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
              >
                {{ col.title }}
              </th>
              <th></th>
              <th></th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let bill of billList
                  | filter : (phrase$ | async)
                  | paginate : { itemsPerPage: 10, currentPage: page }
              "
            >
              <td
                *ngFor="let col of columns"
                class="align-middle text-center text-sm"
              >
                <!-- !status -->
                <p
                  *ngIf="col.key !== 'status'"
                  class="text-xs font-weight-bold mb-0"
                >
                  {{ bill[col.key] }}
                </p>

                <!-- status -->
                <p
                  *ngIf="col.key === 'status'"
                  class="text-xs font-weight-bold mb-0"
                >
                  <span
                    *ngIf="bill.status === 'paid'"
                    class="badge badge-sm bg-gradient-success"
                    >{{ bill.status }}</span
                  >
                  <span
                    *ngIf="bill.status === 'new'"
                    class="badge badge-sm bg-gradient-danger"
                    >{{ bill.status }}</span
                  >
                </p>
              </td>
              <td class="align-middle">
                <a
                  [routerLink]="['/edit/bill/', bill.id]"
                  href="javascript:;"
                  class="text-secondary font-weight-bold text-xs"
                >
                  Edit
                </a>
              </td>
              <td class="align-middle">
                <a
                  (click)="removeBill(bill)"
                  class="text-secondary font-weight-bold text-xs"
                  href="javascript:;"
                >
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>
