<div class="p-5 text-white rounded mt-2">
  <h1 class="hotstitle text-center">Bill Editor</h1>
  <div class="hr-theme-slash-2">
    <div class="hr-line"></div>
    <div class="hr-icon"><i class="fa fa-circle"></i></div>
    <div class="hr-line"></div>
  </div>
  <div class="col-6 mx-auto form-group">
  <form
    (ngSubmit)="onSubmit(bill)"
    #billForm="ngForm"
    *ngIf="bill$"
    class="row g-3"
  >
    <div class="col-lg-1" *ngIf="bill.id !== 0">
      <label for="id" class="form-label formtext">Id</label>
      <input
        disabled
        [(ngModel)]="bill.id"
        #id="ngModel"
        name="id"
        type="text"
        class="form-control formtext"
        id="id"
      />
    </div>
    <div class="col-lg-11">
      <label for="order" class="form-label formtext">Order</label>
      <select
      [(ngModel)]="bill.orderID"
      [disabled]="checked"
      #status="ngModel"
      name="order"
      id="order"
      class="form-select formtext"
      required
    >
      <option
        *ngFor="let order of orders"
        [ngValue]="order.id"
        class="formtext"
      >
        {{ order.id}}
      </option>
    </select>
    </div>
    <div class="col-lg-6">
      <label for="amount" class="form-label formtext">Amount</label>
      <input
        [(ngModel)]="bill.amount"
        [disabled]="checked"
        #amount="ngModel"
        name="amount"
        type="text"
        class="form-control formtext"
        id="amount"
        required
      />
      <div
        [hidden]="amount.valid || amount.pristine || amount.disabled"
        class="font-weight-bold text-danger"
      >
        How much?
      </div>
    </div>
    <div class="col-lg-6">
      <label for="status" class="form-label formtext"
        >Bill status</label
      >
      <select
        [(ngModel)]="bill.status"
        [disabled]="checked"
        #status="ngModel"
        name="status"
        id="status"
        class="form-select formtext"
        required
      >
        <option
          *ngFor="let status of statusList"
          [value]="status.key"
          class="formtext"
        >
          {{ status.title }}
        </option>
      </select>
    </div>
    <div class="form-check formtext text-center">
      <input
        (change)="onChecked()"
        class="form-check-input"
        type="checkbox"
        value="status"
        id="billStatus"
        [checked]="checked"
        [disabled]="!billForm.form.valid"
      />
      <label class="form-check-label formtext checkboxlabel" for="billStatus">
        I want to save bill!
      </label>
    </div>
    <div class="col-12 text-center">
      <button
        [disabled]="billForm.form.invalid || checked === false"
        type="submit"
        class="btn btn-primary"
      >
        {{ bill.id === 0 ? "Create new bill" : "Save changes" }}
      </button>
    </div>
  </form>
</div>
</div>
